@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Libre+Baskerville:ital@1&family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Libre+Baskerville:ital@1&family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
main {
  background: linear-gradient(45deg, #111, #333); }

.contenido-1 .tittle {
  padding: 0;
  margin: 0;
  font-family: 'Dancing Script', cursive;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Merriweather', serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em; }

.contenido-1 .cont {
  font-family: 'Dancing Script', cursive;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Merriweather', serif;
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em; }

.images .imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 2em 5em 2em; }

.images img {
  border: 3px solid white;
  border-radius: 25px;
  height: 500px;
  width: 350px; }

.cursos {
  margin: 0 auto;
  background: linear-gradient(45deg, #111, #333);
  background-size: 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 200px 200px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  align-content: center; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.div {
  cursor: pointer;
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
  z-index: 5;
  transition: .7s;
  border-radius: 15px; }

.div:hover {
  transform: scale(1.1);
  text-shadow: 0px 0px 30px #ffffff99; }

.div-text {
  text-decoration: none;
  width: inherit;
  height: inherit;
  border-radius: 15px;
  background: #ffffff10;
  border: 1px solid #ffffff20;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  position: absolute;
  z-index: 5;
  box-sizing: border-box;
  text-transform: uppercase; }

.div-shadow {
  display: block;
  content: '';
  width: 0px;
  height: 0px;
  box-shadow: 0px 0px 100px 100px #ffffff20;
  background: red;
  position: absolute;
  transition: opacity .7s;
  opacity: 0;
  z-index: -5;
  filter: blur(10px); }

.div-shadow.active {
  opacity: 1; }

.div-text:hover {
  color: #ffffff; }

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373; }

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5; }

.site-footer hr.small {
  margin: 20px 0; }

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px; }

.site-footer a {
  color: #737373; }

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none; }

.footer-links {
  padding-left: 0;
  list-style: none; }

.footer-links li {
  display: block; }

.footer-links a {
  color: #737373; }

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none; }

.footer-links.inline li {
  display: inline-block; }

.site-footer .social-icons {
  text-align: right; }

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d; }

.copyright-text {
  margin: 0; }

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0; }
  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center; } }

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.social-icons li {
  display: inline-block;
  margin-bottom: 4px; }

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px; }

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe; }

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px; }

.social-icons a.facebook:hover {
  background-color: #3b5998; }

.social-icons a.twitter:hover {
  background-color: #00aced; }

.social-icons a.linkedin:hover {
  background-color: #007bb6; }

.social-icons a.dribbble:hover {
  background-color: #ea4c89; }

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600; } }

main {
  margin: 0;
  padding: 0; }

.tittle {
  padding: 0;
  margin: 0;
  font-family: 'Dancing Script', cursive;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Merriweather', serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em; }

.cont {
  font-family: 'Dancing Script', cursive;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Merriweather', serif;
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em; }

.nosotros {
  padding: 2em; }

.formulario {
  padding: 6em; }

form {
  margin-left: auto;
  margin-right: auto;
  width: 343px;
  height: 333px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden; }

textarea {
  background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px;
  width: 276px;
  height: 110px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #fff;
  padding-left: 45px;
  padding-right: 20px;
  padding-top: 12px;
  margin-bottom: 20px;
  overflow: hidden; }

input {
  width: 276px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px; }

input[type=submit] {
  cursor: pointer; }

input.name {
  background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_name.png) no-repeat scroll 16px 16px;
  padding-left: 45px; }

input.email {
  background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_email.png) no-repeat scroll 16px 20px;
  padding-left: 45px; }

input.message {
  background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px;
  padding-left: 45px; }

::-webkit-input-placeholder {
  color: #fff; }

:-moz-placeholder {
  color: #fff; }

::-moz-placeholder {
  color: #fff; }

:-ms-input-placeholder {
  color: #fff; }

input:focus, textarea:focus {
  background-color: rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  overflow: hidden; }

.btn {
  width: 138px;
  height: 44px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: right;
  border: 1px solid #253737;
  background: #416b68;
  background: -webkit-gradient(linear, left top, left bottom, from(#6da5a3), to(#416b68));
  background: -webkit-linear-gradient(top, #6da5a3, #416b68);
  background: -moz-linear-gradient(top, #6da5a3, #416b68);
  background: -ms-linear-gradient(top, #6da5a3, #416b68);
  background: -o-linear-gradient(top, #6da5a3, #416b68);
  background-image: -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%);
  padding: 10.5px 21px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
  text-shadow: #333333 0 1px 0;
  color: #e1e1e1; }

.btn:hover {
  border: 1px solid #253737;
  text-shadow: #333333 0 1px 0;
  background: #416b68;
  background: -webkit-gradient(linear, left top, left bottom, from(#77b2b0), to(#416b68));
  background: -webkit-linear-gradient(top, #77b2b0, #416b68);
  background: -moz-linear-gradient(top, #77b2b0, #416b68);
  background: -ms-linear-gradient(top, #77b2b0, #416b68);
  background: -o-linear-gradient(top, #77b2b0, #416b68);
  background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
  color: #fff; }

.btn:active {
  margin-top: 1px;
  text-shadow: #333333 0 -1px 0;
  border: 1px solid #253737;
  background: #6da5a3;
  background: -webkit-gradient(linear, left top, left bottom, from(#416b68), to(#416b68));
  background: -webkit-linear-gradient(top, #416b68, #609391);
  background: -moz-linear-gradient(top, #416b68, #6da5a3);
  background: -ms-linear-gradient(top, #416b68, #6da5a3);
  background: -o-linear-gradient(top, #416b68, #6da5a3);
  background-image: -ms-linear-gradient(top, #416b68 0%, #6da5a3 100%);
  color: #fff;
  -webkit-box-shadow: rgba(255, 255, 255, 0) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0; }
