main {
    background-color: black;
    .contenido-1 {
        .tittle {
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 2em;
        }
        .cont {
            
            font-size: 30px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2em;
        }
    }
    .images {
        .imgs {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 0 2em 5em 2em;
        }
        img {
        
            height: 500px;
            width: 350px;
        }
    }
}
